mixin experience-card(name, date, content, tools, img)
	.experience-container
		.row.between-xs
				.col-xs-12.col-md-6
					.row
						.col-xs-12
							.experience-image
								img(src= img)
						.col-xs-12
							.experience-date
								small.experience-date= date
						
				.col-xs-12.col-md-6
					.row
						.col-xs-12
							h3.section-subtitle= name
						.col-xs-12
							a= link
						.col-xs-12
							p= content
						.col-xs-12
							p.project-tools= tools
